@model List<Product>
@{
    ViewData["Title"] = "AdminProducts";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="my-3 container">
    <div class="row">
        <div class="col-md-4">
            <a asp-action="AddProduct" asp-controller="Admin" class="btn btn-primary">
                Add New Product
            </a>
        </div>
    </div>
</div>

<table class="table table-bordered border-3 table-hover container-md mx-auto my-5">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Image1</th>
            <th>Product Image2</th>
            <th>Product Image3</th>
            <th>Product Description</th>
            <th>Product Category</th>
            <th>Total Price</th>
            <th>On Sale</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product prod in Model)
        {
            <tr>
                <td>@prod.Name</td>
                <td><img src="~/KitchenImages/@prod.Image1" height="100" width="100" class="border border-1 border-light rounded-circle" alt="..."></td>
                <td><img src="~/KitchenImages/@prod.Image2" height="100" width="100" class="border border-1 border-light rounded-circle" alt="..."></td>
                <td><img src="~/KitchenImages/@prod.Image3" height="100" width="100" class="border border-1 border-light rounded-circle" alt="..."></td>
                <td>@prod.Description</td>
                <td>@prod.Category.Name</td>
                <td>@prod.Price $</td>
                <td>@prod.OnSale</td>
                <td><a onclick="return confirm('Are you sure you want to delete this product?')" asp-action="DeleteProd" asp-controller="Admin" asp-route-id="@prod.Id" class="btn btn-danger">Remove</a></td>
                <td><a asp-action="EditProd" asp-controller="Admin" asp-route-id="@prod.Id" class="btn btn-warning">Update</a></td>
            </tr>
        }
    </tbody>

</table>

